body {
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;

    #mainDiv {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30em;
        height: 40em;
        border-radius: 17px;
        margin-top: 3em;

        background-color: $clipboard-color1;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        width: 23em;
        height: 35em;
        border-radius: 17px;

        background-color: $clipboard-color2;
    }

    #innerDiv {
        background-color: white;

        width: 20em;
        height: 3.375em;
        border-radius: 12px;
        border-width: 0em;
        outline: none;

        margin-top: 2em;
    }

    #newInput {
        font-family: $font;
        font-size: $fs-s;
        color: $primary-color;

        list-style-type: none;
        list-style: none;

        width: 14.5em;
        height: 3.25em;
        border-radius: 12px;
        border-width: 0em;
        outline: none;

    }

    #newTask {
        font-family: $font;
        font-size: $fs-s;
        color: $primary-color;

        list-style-type: none;
        list-style: none;

        width: 19em;
        display: grid;
        grid-template-columns: 0.5fr 5fr 0.5fr;
        gap: 0.5em;
        align-items: center;
            
        padding: 1.5em 0.5em 0.5em 0.5em;

        span {
            font-size: $fs-sm;

            cursor: pointer;
        }
    }

   
}