body {
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30em;
        height: 40em;
        border-radius: 17px;
        margin-top: 5em;

        background-color: $clipboard-color1;

    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        width: 23em;
        height: 35em;
        border-radius: 17px;

        background-color: $clipboard-color2;
    }

    #newInput {
        font-family: $font;
        font-size: $fs-s;
        color: $primary-color;

        list-style-type: none;
        list-style: none;

        width: 20em;
        height: 4.375em;
        border-radius: 12px;
        border-width: 0em;
        outline: none;

        margin-top: 2em;
    }

    #newTask {
        font-family: $font;
        font-size: $fs-s;
        color: $primary-color;

        list-style-type: none;
        list-style: none;

        align-content: space-between;
        padding: 0.5em;
    }

}