/* Colors */
$background-color: #ECECEC;

$clipboard-color1: #5D2F07;
$clipboard-color2: #FBF0AB;

$primary-color: #707070;

/*font-style*/
$font: source sans pro, sans-serif;

/* Font Weight */
$fw-regular: 200;
$fw-bold: 400;

/* Font Size */
$fs-sm: 0.75em;
$fs-s: 1em;
$fs-m: 1.2em;

/* Shadows */
$shadow-1: 0 4px 6px #1a1a1a2a